
.orange { color: #CC6633; }
.gray { color: #444; }
.mediumgray { color: #666; }
.black { color: #000; }
.red { color: #f00; }
.blue { color: #00f; }
.green { color: #0c0; }
.darkgreen { color: #0a0; }
.white { color: #fff; }
.lightgray { color: #999; }
.mediumred { color: #a00; }
.darkblue { color: #2020a0; }
.darkred { color: #600; }
.lightgreen { color: #448844; }
.lightred { color: #a00; }
.graybg { background-color: #f8f8f8; }
.blue2 { color: #428bca; }
.cyan { color: #00ffff; }
.purple { color: #800080; }
.yellow { color: #bbbb00; }
.ltblue { color: #06d; }
